/*
 * Globals
 */

/* Links */
h1 {
  color: white;
  font-size: 60px;
}
.lead{
  color: rgb(38, 39, 39);
  font-size: 26px;
  
}
.btn-default:hover{
  background-color: rgb(93, 159, 235);
  color: white;
}


/* Custom default button */
.btn-default,
/* .btn-default:hover, */
.btn-default:focus {
  color: rgb(46, 31, 31);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
#inner-cover {
  padding: 20px;
  background-color: rgba(236, 227, 227, 0.342);
  /* border: 1px rgb(14, 25, 128) solid; */
  
}
/* #description {
  width: 600px;
  text-align: center;
} */

html,
body {
  height: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  padding-bottom: 40px;
  /* background-color: rgb(109, 44, 44); */
  
}
body {
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0 1px 3px rgba(29, 49, 102, 0.527);
  background-image: url("../../assets/images/solarsystem.jpg");
  background-size: 100%;

}

#content{

  margin-top: 20px;
  margin-bottom: 100px;
}

/* .radio .text-left {
  margin: 15px;


} */